---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SmallCard from "../components/SmallCard.astro";
import Header from "../components/Header.astro";
---

<Layout title="Breaking News">
    <Header />
    <div class="flex flex-col align-center mx-5">
        <Card image="https://placehold.co/870x350">
            <p class="mt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
                deleniti esse maxime, voluptate cum a ab est possimus aliquid
                laborum obcaecati sit rerum dolorem libero doloremque
                consectetur et dolor eveniet. Saepe possimus eum, nemo in a
                recusandae. Quas quibusdam iusto saepe dolore consectetur, quod
                quis accusantium earum fuga voluptatem quo! Possimus consectetur
                saepe explicabo. Nostrum, minima provident. Nobis, corrupti
                saepe? Quibusdam aliquid nisi suscipit optio eius beatae
                officiis sunt perspiciatis dolores distinctio? Temporibus fugit,
                sapiente, sed cupiditate eaque qui a adipisci corporis vero
                minima impedit perspiciatis blanditiis saepe natus eum! Minima
                fuga corporis fugit, beatae rem numquam. Delectus impedit
                debitis molestiae consectetur soluta vel doloribus aliquam hic
                deserunt odit sint, ipsam quae cumque labore iste sunt, optio
                vero, aperiam minima? Nihil, repellat blanditiis, labore
                repudiandae delectus culpa esse maiores id explicabo enim
                debitis quas architecto deleniti ipsam nulla. Aliquid eos
                tempore cum voluptatum necessitatibus facere itaque sed voluptas
                consequuntur placeat. Exercitationem repellat iure consequatur
                ab delectus aliquid alias sapiente, nostrum velit sit.
                Voluptatibus ad ducimus cumque repellat dolorem autem porro
                ullam amet, sequi beatae dicta esse nulla ea quos ipsa! Nesciunt
                dolores accusamus voluptatibus corrupti consequatur vitae dolor
                perspiciatis magni cum doloremque optio, excepturi autem
                recusandae ducimus culpa laborum qui quis cumque est eligendi
                officia in. Officia accusamus commodi distinctio? Provident
                repudiandae impedit odio iste cum quidem. Sint nemo voluptatum
                repellat natus ipsum cum, ad vero maiores quisquam cumque
                provident aspernatur soluta sit aperiam illo unde neque saepe
                mollitia omnis! Accusamus beatae quia illum quis eos facilis
                autem odio quam facere mollitia ipsa, voluptatem praesentium
                aliquam iure? Odit commodi excepturi perferendis eaque labore
                quibusdam, voluptate ut cum asperiores, odio reiciendis!
                Excepturi dolores debitis eos consectetur corporis quisquam
                vero, quam velit non, nostrum amet numquam! Saepe magnam libero
                officia. Quibusdam iusto cupiditate dolorem earum eum
                aspernatur? Sit ea nulla velit unde.
            </p>
        </Card>
        <div class="flex flex-row row-span-3 mt-4">
            <div class="flex flex-col align-center">
                <div class="max-w-sm">
                    <Card image="https://placehold.co/300x180">
                        <p class="mt-4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Pariatur modi hic aliquam culpa aspernatur
                            amet est ea saepe necessitatibus nisi.
                        </p>
                    </Card>
                </div>
                <div class="max-w-sm">
                    <Card image="https://placehold.co/300x180">
                        <p class="mt-4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Pariatur modi hic aliquam culpa aspernatur
                            amet est ea saepe necessitatibus nisi.
                        </p>
                    </Card>
                </div>
            </div>
            <div class="max-w-sm">
                <Card image="https://placehold.co/300x180">
                    <p class="mt-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Pariatur modi hic aliquam culpa aspernatur amet
                        est ea saepe necessitatibus nisi.
                    </p>
                </Card>
            </div>
        </div>
    </div>
</Layout>
