---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
---

<Layout title="Title">
    <Header />

    <head transition:animate="slide"> </head>
    <body>
        <div class="flex flex-col p-4 mx-6">
            <figure>
                <img src="https://placehold.co/1200x350" alt="breaking news" />
            </figure>
            <h1 class="my-2 text-5xl">Title</h1>
            <p class="my-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas veniam laudantium perspiciatis recusandae voluptates
                non alias, at in, aperiam quo tempora ab odit. Praesentium quae
                voluptatem eaque corporis enim nihil. Quam reprehenderit
                possimus repellendus dolores quidem ex voluptatibus rerum
                repudiandae neque reiciendis vel molestiae cupiditate optio,
                odio eaque veritatis vero sint fugit pariatur? Magnam facilis,
                dicta provident commodi inventore corporis. Mollitia in culpa,
                veniam molestiae non quae porro id, corrupti odio architecto
                provident numquam laboriosam, sit tempora! Quaerat, eligendi?
                Consectetur id facere iure quam, harum magni atque dolores odio
                laboriosam? Doloribus in eos eum voluptatem, accusamus quidem
                mollitia adipisci sint, itaque neque odit totam illum reiciendis
                eius quis tempora earum ut quia a ea at cumque laborum? Nostrum,
                vel deleniti. Non illo recusandae aliquam dolore facilis eos.
                Quasi ipsum dolore aut consectetur, commodi quidem odit dolorum
                laborum quisquam! Expedita officia maxime vitae fuga hic rerum
                id delectus nobis obcaecati provident! Accusantium eius
                voluptatibus repudiandae voluptas aut! Facilis atque aperiam
                iure laudantium nostrum voluptas est aliquam aspernatur qui
                optio dolore consequuntur, molestias pariatur exercitationem
                dicta voluptatibus tempora mollitia suscipit? Magni, suscipit.
                Et quisquam molestias placeat omnis quia. Optio molestias
                commodi vero! Sit dicta aliquam laborum quaerat, ullam quas.
                Optio culpa quisquam reiciendis quis dicta, odit nisi maiores
                suscipit, error enim ducimus! Fuga quia ullam veritatis eveniet
                enim quasi ducimus ipsum, assumenda, delectus ea sapiente natus
                hic nisi illo voluptatem vero tempora dolore provident maiores
                nam culpa animi. Voluptatem totam iusto porro! At aliquid omnis
                illum, dolorem pariatur eius sequi laboriosam quia nesciunt
                libero eaque, corrupti ab asperiores similique? Harum omnis est
                quasi cumque voluptas. Fuga recusandae autem, est fugit neque
                corporis. Totam impedit reiciendis dolorum nostrum vitae minima
                ab deleniti laudantium maiores quibusdam placeat nemo, sunt
                voluptatibus unde, corrupti deserunt consequatur architecto
                repudiandae reprehenderit! Aliquam modi veritatis dolores quas
                aut in. Iure dolores neque enim temporibus quasi vero ex, error
                eos. Repellat ipsam minus nemo dolor deserunt sequi, laboriosam
                dolores dignissimos quaerat asperiores ea, officiis voluptatum.
                Culpa magni hic temporibus. Harum. Alias corrupti reiciendis
                omnis unde impedit est saepe quod facere labore? At, eum
                molestiae voluptatum a id modi. Blanditiis, impedit nostrum
                nihil recusandae odio harum doloremque nemo sequi sunt
                inventore! Quia ullam id perspiciatis. Hic, ducimus, corrupti et
                repudiandae quo ea quidem, nulla tenetur obcaecati accusamus
                ratione? Eum provident, accusamus quos sint et architecto
                deleniti libero itaque sunt voluptate debitis?
            </p>
        </div>
    </body>
</Layout>
