---
import Card from "../components/Card.astro";
---

<aside class="mx-2 max-w-[130px] hover:bg-black hover:bg-opacity-20">
    <Card title_size="text-2xl" image="https://placehold.co/120x80">
        <p class="text-sm py-2 px-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repellendus, fugiat aut? Aspernatur accusantium illo modi. Similique
            veritatis debitis accusantium aliquid natus consequuntur atque
            eligendi reprehenderit rerum labore rem quisquam id reiciendis enim
            dolorem quas molestias expedita quia, incidunt neque sed!
        </p>
    </Card>
</aside>
