<header class="min-h-[100px] py-4 my-4S text-center">
    <h1 class="text-xl">THE BUGLE</h1>
    <nav class="min-h-[40px] py-2 my-4 border-2 border-t-zinc-950 border-b-zinc-950 items-center">
        <ul class="flex flex-row items-center justify-center">
            <li class="mx-6 my-1">
                <a href="/" class="hover:filter hover:brightness-75">Ayo</a></li>
            <li class="mx-6 my-1">
                <a href="/" class="hover:filter hover:brightness-75">Ayo</a></li>
            <li class="mx-6 my-1">
                <a href="/" class="hover:filter hover:brightness-75">Ayo</a></li>
            <li class="mx-6 my-1">
                <a href="/" class="hover:filter hover:brightness-75">Ayo</a></li>
            <li class="mx-6 my-1">
                <a href="/" class="hover:filter hover:brightness-75">Ayo</a></li>
        </ul>
    </nav>
</header>
